<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wf.wisdom_safety">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".ui.WisdomSafetyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <provider
            android:name="com.wf.util.MyFileProvider"
            android:authorities="com.wf.wisdom_safety.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="zSVkIDodmZGPPUGnh4qkfFe91sGnwolM" />

        <activity
            android:name=".ui.mainmenu.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/MainTheme">
        </activity>
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.inspect.plain.PlainMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.inspect.danger.DangerMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.inspect.building.BuildingMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.inspect.notdevice.NotDeviceMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.inspect.plain.OffDevicesActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.inspect.plain.ScanActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.inspect.plain.DeviceInspectActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.inspect.plain.DangerCommitActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.inspect.plain.NotDeviceCommitActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.inspect.plain.ImageSelectorActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="me.nereo.multi_image_selector.VideoRecordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>

        <activity
            android:name=".ui.inspect.record.ExcuteRecordActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.user.ChangePasswordActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.user.AboutActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <service
            android:name=".service.ListenNetStateService"
            android:exported="false" >
            <intent-filter >
                <action android:name="com.wf.wisdom_safety.service.ListenNetStateService"/>
            </intent-filter>
        </service>

    </application>
</manifest>